.nav-box .max-nav a span,
.nav-box .min-nav a span {
  height: 44px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.nav-box {
  height: 44px;
  color: #fff;
  line-height: 44px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 99;
}
.nav-box .min-nav {
  height: 44px;
  text-align: justify;
  color: #fff;
}
.nav-box .min-nav:after {
  content: "";
  display: inline-block;
  width: 100%;
  line-height: 0;
  height: 0;
  font-size: 0;
  clear: both;
}
.nav-box .min-nav a {
  color: #fff;
}
.nav-box .min-nav a .logo {
  background-size: 21px 48px;
  background-image: url("../images/logo.svg");
  width: 20px;
}
.nav-box .min-nav a .gwc {
  background-size: 19px 48px;
  background-image: url("../images/gwc.svg");
  width: 18px;
}
.nav-box .min-nav .btn {
  display: inline-block;
  height: 44px;
  overflow: hidden;
}
.nav-box .min-nav .btn .navbar-toggle {
  height: 44px;
  display: inline-block;
  background-image: none;
  border-radius: 4px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-box .min-nav .btn .navbar-toggle .icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .nav-box .min-nav {
    display: none;
  }
  .nav-box .max-nav {
    display: block!important;
    text-align: justify;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
  }
  .nav-box .max-nav:after {
    content: "";
    display: inline-block;
    height: 0;
    line-height: 0;
    font-size: 0;
    width: 100%;
  }
  .nav-box .max-nav a {
    color: #fff;
    display: inline-block;
  }
  .nav-box .max-nav a .logo {
    background-size: 20px 44px;
    background-image: url("../images/logo.svg");
    width: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .nav-box .max-nav a .mac {
    background-size: 31px 44px;
    background-image: url("../images/mac.svg");
    width: 1.72222em;
    max-width: 52.7px;
  }
  .nav-box .max-nav a .ipad {
    background-size: 30px 44px;
    background-image: url("../images/ipad.svg");
    width: 1.66667em;
    max-width: 51px;
  }
  .nav-box .max-nav a .iphone {
    background-size: 48px 44px;
    background-image: url("../images/iphone.svg");
    width: 2.66667em;
    max-width: 81.6px;
  }
  .nav-box .max-nav a .watch {
    background-size: 44px 44px;
    background-image: url("../images/watch.svg");
    width: 2.44444em;
    max-width: 74.8px;
  }
  .nav-box .max-nav a .tv {
    background-size: 20px 44px;
    background-image: url("../images/tv.svg");
    width: 1.11111em;
    max-width: 34px;
  }
  .nav-box .max-nav a .music {
    background-size: 40px 44px;
    background-image: url("../images/music.svg");
    width: 2.22222em;
    max-width: 68px;
  }
  .nav-box .max-nav a .support {
    background-size: 57px 44px;
    background-image: url("../images/support.svg");
    width: 3.16667em;
    max-width: 96.9px;
  }
  .nav-box .max-nav a .ss {
    background-size: 20px 44px;
    background-image: url("../images/ss.svg");
    width: 20px;
  }
  .nav-box .max-nav a .gwc {
    background-size: 18px 44px;
    background-image: url("../images/gwc.svg");
    width: 18px;
  }
  .nav-box .max-nav a:hover {
    color: #ccc;
  }
}
@media screen and (max-width: 768px) {
  .nav-box .max-nav {
    display: none;
    margin-left: -15px;
    margin-right: -15px;
    background: rgba(0, 0, 0, 0.8);
  }
  .nav-box .max-nav a {
    display: block;
    margin: 0 15px 0 20px;
    border-bottom: 1px solid #ccc;
  }
  .nav-box .max-nav a .mac {
    background-size: 31px 44px;
    background-image: url("../images/mac.svg");
    width: 1.72222em;
    max-width: 52.7px;
  }
  .nav-box .max-nav a .ipad {
    background-size: 30px 44px;
    background-image: url("../images/ipad.svg");
    width: 1.66667em;
    max-width: 51px;
  }
  .nav-box .max-nav a .iphone {
    background-size: 44px 44px;
    background-image: url("../images/iphone.svg");
    width: 1.72222em;
    max-width: 52.7px;
  }
  .nav-box .max-nav a .watch {
    background-size: 40px 44px;
    background-image: url("../images/watch.svg");
    width: 1.72222em;
    max-width: 52.7px;
  }
  .nav-box .max-nav a .tv {
    background-size: 30px 44px;
    background-image: url("../images/tv.svg");
    width: 1.72222em;
    max-width: 52.7px;
  }
  .nav-box .max-nav a .music {
    background-size: 36px 44px;
    background-image: url("../images/music.svg");
    width: 1.72222em;
    max-width: 52.7px;
  }
  .nav-box .max-nav a .support {
    background-size: 50px 44px;
    background-image: url("../images/support.svg");
    width: 1.72222em;
    max-width: 52.7px;
  }
  .nav-box .max-nav a .ss {
    background-size: 30px 44px;
    background-image: url("../images/ss.svg");
    width: 20px;
  }
  .nav-box .max-nav a .gwc {
    background-size: 30px 44px;
    background-image: url("../images/gwc.svg");
    width: 20px;
  }
}
.banner {
  height: 100%;
  position: relative;
  margin-top: -44px;
  z-index: 2;
  min-height: 750px;
}
.banner .imgs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.banner .imgs .imgbao {
  width: 100%;
  height: 100%;
}
.banner .imgs .imgbao a {
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner .imgs .imgbao .ban1 {
  background-image: url("../images/banner1.jpg");
  width: 100%;
}
.banner .imgs .imgbao .ban2 {
  background-image: url("../images/banner2.jpg");
  width: 100%;
}
.banner .imgs .imgbao .ban3 {
  background-image: url("../images/banner3.jpg");
  width: 100%;
}
.banner .imgs .imgbao .ban4 {
  background-image: url("../images/banner4.jpg");
  width: 100%;
}
.banner .ban-btn {
  width: 140px;
  height: 40px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  margin-left: -70px;
  padding: 2px;
  line-height: 40px;
  cursor: pointer;
}
.banner .ban-btn span {
  width: 8%;
  height: 30%;
  background: #fff;
  float: left;
  margin: 6px;
  border-radius: 50px;
  border: 1px solid #174D71;
}
.banner .ban-btn .active {
  background: #ccc;
}
.banner .ban-jiantou {
  width: 100%;
  height: 80px;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -40px;
  font-size: 80px;
  cursor: pointer;
}
.banner .ban-jiantou .jtr {
  width: 60px;
  height: 100%;
  float: right;
  color: #ccc;
}
.banner .ban-jiantou .jtl {
  width: 60px;
  height: 100%;
  float: left;
  color: #ccc;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 100%;
    position: relative;
    margin-top: -44px;
    z-index: 2;
    min-height: 370px;
  }
  .banner .ban-btn {
    width: 140px;
    height: 40px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    margin-left: -50px;
    padding: 2px;
    line-height: 40px;
  }
  .banner .ban-btn span {
    width: 8%;
    height: 30%;
    background: #fff;
    float: left;
    margin: 6px;
    border-radius: 50px;
    border: 1px solid #174D71;
  }
  .banner .ban-btn span:hover {
    background: #ccc;
  }
  .banner .ban-jiantou {
    display: none!important;
  }
}
@media screen and (max-width: 768px) {
  .show {
    height: 204px;
    border-top: 2px solid #fff;
  }
  .show .row {
    height: 100%;
    padding-left: 0!important;
  }
  .show .col-lg-3 {
    height: 100%;
    padding: 0;
  }
  .show .col-lg-3 a {
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-bottom: 2px solid #fff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .show {
    height: 204px;
  }
  .show .row {
    height: 100%;
    padding-left: 0!important;
  }
  .show .col-lg-3 {
    height: 100%;
    padding: 0;
    border-right: 2px solid #fff;
  }
  .show .col-lg-3 a {
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-bottom: 2px solid #fff;
  }
}
@media screen and (min-width: 1000px) {
  .show {
    height: 204px;
  }
  .show .row {
    height: 100%;
    padding-left: 0!important;
  }
  .show .col-lg-3 {
    height: 100%;
    padding: 0;
    border-right: 2px solid #fff;
  }
  .show .col-lg-3 a {
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-bottom: 2px solid #fff;
  }
}
.redcross {
  text-align: center;
}
.redcross .redcross-banner {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
}
.redcross .redcross-banner .image-redcross-logo {
  background-repeat: no-repeat;
  background-size: 179px 44px;
  height: 44px;
  width: 179px;
  background-image: url("../images/img-logo.jpg");
  position: absolute;
  top: 13px;
}
.redcross .redcross-banner .redcross-copy {
  margin-left: 202px;
  display: inline-block;
  border-left: 1px solid #d6d6d6;
  padding-left: 22px;
  font-size: 16px;
}
.redcross .redcross-exchange {
  padding-left: 40px;
}
.redcross .redcross-exchange {
  margin: 0 auto;
  padding: 10px 0 30px 0;
  text-align: center;
}
.redcross .redcross-exchange a {
  color: dodgerblue;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .redcross {
    text-align: center;
  }
  .redcross .redcross-banner {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
  }
  .redcross .redcross-banner .image-redcross-logo {
    background-repeat: no-repeat;
    background-size: 179px 44px;
    height: 44px;
    width: 179px;
    background-image: url("../images/img-logo.jpg");
    position: absolute;
    top: 13px;
  }
  .redcross .redcross-banner .redcross-copy {
    margin-left: 180px;
    display: inline-block;
    border-left: 1px solid #d6d6d6;
    padding-left: 18px;
    font-size: 12px;
  }
  .redcross .redcross-exchange {
    padding-left: 40px;
  }
  .redcross .redcross-exchange {
    margin: 0 auto;
    padding: 10px 0 30px 0;
    text-align: center;
  }
  .redcross .redcross-exchange a {
    color: dodgerblue;
    font-size: 12px;
  }
}
/* footer */
.footer {
  width: 100%;
  background: #f2f2f2;
  padding-bottom: 20px;
}
.footer .footer-inner {
  max-width: 980px;
  padding: 0 22px;
  margin: 0 auto;
}
.footer .footer-inner .footer-lists {
  padding-top: 32px;
}
.footer .footer-inner .footer-lists .list {
  float: left;
  padding-right: 20px;
  font-size: 12px;
}
.footer .footer-inner .footer-lists .list h3 {
  color: #333;
}
.footer .footer-inner .footer-lists .list a {
  color: #666;
}
.footer .footer-inner .footer-lists:before,
.footer .footer-inner .footer-lists:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
@media screen and (max-width: 1000px) {
  .footer-inner .footer-lists .list {
    width: 100%;
    float: none;
    line-height: 2.8;
  }
  .footer-inner .footer-lists .list div {
    border-bottom: 1px solid #e3e3e3;
  }
  .footer-inner .footer-lists .list div h3 {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  .footer-inner .footer-lists .list div h3:after {
    content: "+";
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
  .footer-inner .footer-lists .list div ul {
    display: none;
    overflow: hidden;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .footer-inner .footer-lists .list {
    width: 20%;
    float: left;
    line-height: 1.666667;
  }
  .footer-inner .footer-lists .list h3 {
    font-weight: 600;
    font-size: 12px;
  }
  .footer-inner .footer-lists .list ul {
    display: block!important;
    padding: 0;
  }
  .footer-inner .footer-lists .list .list-bottom {
    padding-top: 20px;
  }
}
.footer-bottom {
  padding: 20px 0 24px;
  color: #999;
  font-size: 12px;
  position: relative;
}
.footer-bottom .footer-shop {
  line-height: 20px;
  padding-bottom: 5px;
  margin-bottom: 6px;
  border-bottom: 1px solid #e3e3e3;
}
.footer-bottom .footer-shop .nowrap a {
  color: #0088cc;
}
.footer-bottom .footer-local {
  background: url("../images/16.png") no-repeat;
  background-position: left center;
}
.footer-bottom .footer-local a {
  padding-left: 20px;
  line-height: 20px;
  color: #666;
}
.footer-bottom .footer-legal {
  line-height: 20px;
}
.footer-bottom .footer-legal .copyright,
.footer-bottom .footer-legal .links {
  float: left;
  margin-right: 26px;
}
.footer-bottom .footer-legal .links a {
  padding-right: 12px;
  margin-right: 10px;
  border-right: 1px solid #d6d6d6;
  color: #666;
}
.footer-bottom .footer-legal .links a:last-of-type {
  padding: 0;
  margin: 0;
  border: 0;
}
.footer-bottom .footer-legal:before,
.footer-bottom .footer-legal:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.footer-bottom .footer-beian {
  line-height: 20px;
}
.footer-bottom .footer-beian a {
  color: #999;
}
@media screen and (min-width: 768px) {
  .footer-bottom .footer-local {
    position: absolute;
    top: 50px;
    right: 0;
  }
  .footer-bottom .footer-beian {
    margin-top: 6px;
  }
}
@media screen and (max-width: 768px) {
  .footer-bottom .footer-local {
    position: static;
  }
  .footer-bottom .footer-legal {
    padding-top: 13px;
  }
  .footer-bottom .footer-legal .copyright,
  .footer-bottom .footer-legal .links {
    float: none;
    margin-right: 0;
  }
  .footer-bottom .footer-beian {
    padding-top: 0;
  }
}
