body,
ul,
li,
p,
form,
span,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
dt {
  margin: 0;
  pading: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #fff;
  color: #333;
  font-style: normal;
}
